<menu data-ng-class="menuState">
	<li><a href="#">Profile</a></li>
	<li><a href="#">Settings</a></li>
	<li><a href="#">Find Friends</a></li>
</menu>

<nav class="navbar" data-ng-class="menuState">
	<button data-ng-click="toggleMenu($event)">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
	<a href="#/venues" class="pull-right">Rate a Burger</a>
</nav>

<section class="container overthrow" data-ng-class="menuState">
	<div data-ng-repeat="item in feed" data-ng-click="viewRating(item.id)">
		<div class="content">
			<p>
				{{item.burger.name}}<br>
				{{item.venue.name}}
			</p>
			<p>{{item.user.name}}</p>
		</div>
		<hr>
	</div>
</section>