.navbar {
	position: fixed;
	height: @navbarHeight;
	top: 0;
	left: 0;
	right: 0;
	background: @navbarBackgroundColor;
	color: @navbarFontColor;
	border-bottom: 1px solid #e5e5e5;
	z-index: 1030;
}

.navbar.open {
	left: 240px;
	right: -240px;
}

.overflowscrolling .navbar {
	//position: static
}

.navbar a {
	color: @navbarFontColor;
}