<menu data-ng-class="menuState">
	<li><a href="#">Profile</a></li>
	<li><a href="#">Settings</a></li>
	<li><a href="#">Find Friends</a></li>
</menu>

<nav class="navbar" data-ng-class="menuState">
	<button data-ng-click="toggleMenu($event)">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
	<a href="#/venues" class="pull-right">Rate a Burger</a>
</nav>

<section class="container overthrow" data-ng-class="menuState">
	<div class="list-item" data-ng-repeat="item in feed" data-ng-click="viewRating(item.id)">
		<div class="content">
			<div class="profile clearfix">
				<img src="http://placehold.it/50x50" alt="" class="pull-left profile-img">
				<h5>{{item.user.name}}
				<h6 class="muted">Two days ago</h6>
			</h5></div>
			<img src="http://placehold.it/350x150" alt="" class="feed-img">
			<p>
				{{item.burger.name}}<br>
				{{item.venue.name}}
			</p>
		</div>
	</div>
</section>